<!doctype html>
<html>
  <head>
    <title>mediablast</title>
  </head>
  <body>
    <ul>
      <li><a href="/admin/test">test</a></li>
      <li><a href="/admin/status">status</a></li>
      <li><a href="/admin/settings">settings</a></li>
    </ul>
  </body>
</html>

