<!doctype html>
<html>
  <head>
    <title>Media Man</title>
  </head>
  <body>
    <input id="template-id" placeholder="template id">
    <input id="s3-url" placeholder="s3 url">
    <input id="callback-url" placeholder="callback url">
    <br>
    <input id="file" type="file">
    <br>
    <div id="job-status"></div>
    <div id="connection-status"></div>
    <script src="/vendor/jquery-1.7.1.min.js"></script>
    <script src="/js/test.js"></script>
  </body>
</html>
